--- Cargo.toml
+++ Cargo.toml
@@ -6,3 +6,10 @@
 # See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
 
 [dependencies]
+rumpsteak = { version = "*", path = "INSTALL_DIR/rumpsteak" }
+futures-util = { version = "0.4.0-alpha.0" }
+futures = { version = "0.4.0-alpha.0" }
+
+[patch.crates-io]
+futures-util = { path = "INSTALL_DIR/futures-rs/futures-util" }
+futures = { path = "INSTALL_DIR/futures-rs/futures" }
